/*  your css code here. If applicable */

body{
	margin:0px auto;
	background-color:ghostwhite;
}

.container{
	background-color:#8f00f2;
	color:white;
	margin:10px;
    padding:10px;
	border-radius:8px;
	font-family:monospace;
}

h2{
	font-weight:bold;
	text-decoration:underline;
}
h1{
	font-weight:bold;
	text-decoration:underline;
}

#places{
	font-style:italic;
	
}

#foods{
	font-style:italic;
	
}